{{ $path := .Get 0 }}
{{ $pathSlice := split $path "/" -}}
<em>
  {{ range $index, $menu := $pathSlice }}
  {{ $menu }}
  {{ if lt ( math.Add $index 1 ) ( len $pathSlice ) }}
</em> ➜ <em>
  {{ end }}
  {{ end }}
</em>