{{ $float := "" }}
{{ $video := "" }}
{{ if .IsNamedParams }}
{{ $video = resources.Get (.Get "src") }}
{{- $float = (.Get "float")|default "" -}}
{{ else }}
{{ $video = resources.Get (.Get 0) }}
{{- $float = (.Get 1)|default "" -}}
{{ end }}
{{ if eq $float "left" }}
{{ $float = "hx-float-left" }}
{{ else if eq $float "right" }}
{{ $float = "hx-float-right" }}
{{ else }}
{{ $float = "" }}
{{ end }}
<div class="screencap hx-relative hx-w-1/2 {{ $float }} hx-rounded-xl hx-overflow-hidden after:hx-content-[' '] after:hx-rounded-xl after:hx-shadow-[inset_0_0_4px_4px_rgba(50,50,50,0.3)] after:hx-w-full after:hx-h-full after:hx-absolute after:hx-left-0 after:hx-top-0 after:hx-pointer-events-none">
  <video class="hx-transition hx-saturate-0 hx-opacity-50 hover:hx-saturate-100 hover:hx-opacity-100 data-[state=play]:hx-saturate-100 data-[state=play]:hx-opacity-100 data-[userstate=pause]:hx-saturate-100 data-[userstate=pause]:hx-opacity-100 data-[on=true]:hx-saturate-100 data-[on=true]:hx-opacity-100" loop muted playsinline src="{{ $video.RelPermalink }}" data-state="pause"></video>
  <div class="hx-absolute hx-z-10 hx-bottom-0 hx-left-0 hx-w-0 hx-h-2 hx-rounded-sm hx-bg-primary-700 hx-animate-progress-bar"></div>
</div>
